PepuxFront/Service References/IpServiceLink/IpService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10789/IpService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PepuxService" />
  <xs:element name="GetADUsvrs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetADUsvrsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PepuxService" minOccurs="0" name="GetADUsvrsResult" nillable="true" type="q1:ArrayOfADUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveConfs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveConfsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PepuxService" minOccurs="0" name="GetActiveConfsResult" nillable="true" type="q2:ArrayOfActiveConfs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataLocal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PepuxService" minOccurs="0" name="GetDataLocalResult" nillable="true" type="q3:ArrayOfService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveParts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="confname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivePartsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PepuxService" minOccurs="0" name="GetActivePartsResult" nillable="true" type="q4:ArrayOfparticipants" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVmrList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVmrListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PepuxService" minOccurs="0" name="GetVmrListResult" nillable="true" type="q5:ArrayOfAllVmrs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="confname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dispname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Token_refresh">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="confname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="old_token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Token_refreshResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token_refreshResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Videorecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VideorecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PepuxService" minOccurs="0" name="VideorecordsResult" nillable="true" type="q6:ArrayOfallrecords" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecordsFromDb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecordsFromDbResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRecordsFromDbResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhonebookUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhonebookUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PepuxService" minOccurs="0" name="GetPhonebookUsersResult" nillable="true" type="q7:ArrayOfaddrec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecordsToPB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="in_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="in_surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="in_position" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tel_int" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tel_ext" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tel_mob" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="h323_add" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sip_add" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timezone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="group" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OwNam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecordsToPBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PepuxService" minOccurs="0" name="AddRecordsToPBResult" nillable="true" type="q8:PhonebookDB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhBOw">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OwName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhBOwResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PepuxService" minOccurs="0" name="GetPhBOwResult" nillable="true" type="q9:ArrayOfaddrec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecFromDb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="ownm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecFromDbResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRecFromDbResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUserToPrivat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdRec" type="xs:int" />
        <xs:element minOccurs="0" name="Group" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUserToPrivatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addUserToPrivatResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PepuxService" minOccurs="0" name="GetPBResult" nillable="true" type="q10:ArrayOfPhonebookDB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>