PepuxFront/Service References/IpServiceLink/IpService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IpService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10789/IpService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10789/IpService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10789/IpService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PepuxService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPService_GetActiveConfs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveConfs" />
  </wsdl:message>
  <wsdl:message name="IPService_GetActiveConfs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveConfsResponse" />
  </wsdl:message>
  <wsdl:message name="IPService_DeleteRecordsFromDb_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecordsFromDb" />
  </wsdl:message>
  <wsdl:message name="IPService_DeleteRecordsFromDb_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecordsFromDbResponse" />
  </wsdl:message>
  <wsdl:message name="IPService_GetActiveParts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveParts" />
  </wsdl:message>
  <wsdl:message name="IPService_GetActiveParts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActivePartsResponse" />
  </wsdl:message>
  <wsdl:message name="IPService_GetVmrList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVmrList" />
  </wsdl:message>
  <wsdl:message name="IPService_GetVmrList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVmrListResponse" />
  </wsdl:message>
  <wsdl:message name="IPService_GetToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GetToken" />
  </wsdl:message>
  <wsdl:message name="IPService_GetToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IPService_Token_refresh_InputMessage">
    <wsdl:part name="parameters" element="tns:Token_refresh" />
  </wsdl:message>
  <wsdl:message name="IPService_Token_refresh_OutputMessage">
    <wsdl:part name="parameters" element="tns:Token_refreshResponse" />
  </wsdl:message>
  <wsdl:message name="IPService_Videorecords_InputMessage">
    <wsdl:part name="parameters" element="tns:Videorecords" />
  </wsdl:message>
  <wsdl:message name="IPService_Videorecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:VideorecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IPService_GetPhonebookUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPhonebookUsers" />
  </wsdl:message>
  <wsdl:message name="IPService_GetPhonebookUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPhonebookUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IPService_AddRecordsToPB_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRecordsToPB" />
  </wsdl:message>
  <wsdl:message name="IPService_AddRecordsToPB_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRecordsToPBResponse" />
  </wsdl:message>
  <wsdl:message name="IPService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IPService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IPService_GetPhBOw_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPhBOw" />
  </wsdl:message>
  <wsdl:message name="IPService_GetPhBOw_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPhBOwResponse" />
  </wsdl:message>
  <wsdl:message name="IPService_DeleteRecFromDb_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecFromDb" />
  </wsdl:message>
  <wsdl:message name="IPService_DeleteRecFromDb_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecFromDbResponse" />
  </wsdl:message>
  <wsdl:message name="IPService_addUserToPrivat_InputMessage">
    <wsdl:part name="parameters" element="tns:addUserToPrivat" />
  </wsdl:message>
  <wsdl:message name="IPService_addUserToPrivat_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUserToPrivatResponse" />
  </wsdl:message>
  <wsdl:message name="IPService_GetPB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPB" />
  </wsdl:message>
  <wsdl:message name="IPService_GetPB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPBResponse" />
  </wsdl:message>
  <wsdl:portType name="IPService">
    <wsdl:operation name="GetActiveConfs">
      <wsdl:input wsaw:Action="http://tempuri.org/IPService/GetActiveConfs" message="tns:IPService_GetActiveConfs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPService/GetActiveConfsResponse" message="tns:IPService_GetActiveConfs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRecordsFromDb">
      <wsdl:input wsaw:Action="http://tempuri.org/IPService/DeleteRecordsFromDb" message="tns:IPService_DeleteRecordsFromDb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPService/DeleteRecordsFromDbResponse" message="tns:IPService_DeleteRecordsFromDb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveParts">
      <wsdl:input wsaw:Action="http://tempuri.org/IPService/GetActiveParts" message="tns:IPService_GetActiveParts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPService/GetActivePartsResponse" message="tns:IPService_GetActiveParts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVmrList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPService/GetVmrList" message="tns:IPService_GetVmrList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPService/GetVmrListResponse" message="tns:IPService_GetVmrList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IPService/GetToken" message="tns:IPService_GetToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPService/GetTokenResponse" message="tns:IPService_GetToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Token_refresh">
      <wsdl:input wsaw:Action="http://tempuri.org/IPService/Token_refresh" message="tns:IPService_Token_refresh_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPService/Token_refreshResponse" message="tns:IPService_Token_refresh_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Videorecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IPService/Videorecords" message="tns:IPService_Videorecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPService/VideorecordsResponse" message="tns:IPService_Videorecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPhonebookUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IPService/GetPhonebookUsers" message="tns:IPService_GetPhonebookUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPService/GetPhonebookUsersResponse" message="tns:IPService_GetPhonebookUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRecordsToPB">
      <wsdl:input wsaw:Action="http://tempuri.org/IPService/AddRecordsToPB" message="tns:IPService_AddRecordsToPB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPService/AddRecordsToPBResponse" message="tns:IPService_AddRecordsToPB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPService/Authenticate" message="tns:IPService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPService/AuthenticateResponse" message="tns:IPService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPhBOw">
      <wsdl:input wsaw:Action="http://tempuri.org/IPService/GetPhBOw" message="tns:IPService_GetPhBOw_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPService/GetPhBOwResponse" message="tns:IPService_GetPhBOw_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRecFromDb">
      <wsdl:input wsaw:Action="http://tempuri.org/IPService/DeleteRecFromDb" message="tns:IPService_DeleteRecFromDb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPService/DeleteRecFromDbResponse" message="tns:IPService_DeleteRecFromDb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUserToPrivat">
      <wsdl:input wsaw:Action="http://tempuri.org/IPService/addUserToPrivat" message="tns:IPService_addUserToPrivat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPService/addUserToPrivatResponse" message="tns:IPService_addUserToPrivat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPB">
      <wsdl:input wsaw:Action="http://tempuri.org/IPService/GetPB" message="tns:IPService_GetPB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPService/GetPBResponse" message="tns:IPService_GetPB_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPService" type="tns:IPService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActiveConfs">
      <soap:operation soapAction="http://tempuri.org/IPService/GetActiveConfs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecordsFromDb">
      <soap:operation soapAction="http://tempuri.org/IPService/DeleteRecordsFromDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveParts">
      <soap:operation soapAction="http://tempuri.org/IPService/GetActiveParts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVmrList">
      <soap:operation soapAction="http://tempuri.org/IPService/GetVmrList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <soap:operation soapAction="http://tempuri.org/IPService/GetToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Token_refresh">
      <soap:operation soapAction="http://tempuri.org/IPService/Token_refresh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Videorecords">
      <soap:operation soapAction="http://tempuri.org/IPService/Videorecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhonebookUsers">
      <soap:operation soapAction="http://tempuri.org/IPService/GetPhonebookUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRecordsToPB">
      <soap:operation soapAction="http://tempuri.org/IPService/AddRecordsToPB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/IPService/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhBOw">
      <soap:operation soapAction="http://tempuri.org/IPService/GetPhBOw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecFromDb">
      <soap:operation soapAction="http://tempuri.org/IPService/DeleteRecFromDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserToPrivat">
      <soap:operation soapAction="http://tempuri.org/IPService/addUserToPrivat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPB">
      <soap:operation soapAction="http://tempuri.org/IPService/GetPB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IpService">
    <wsdl:port name="BasicHttpBinding_IPService" binding="tns:BasicHttpBinding_IPService">
      <soap:address location="http://localhost:10789/IpService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>