PepuxFront/Service References/IpServiceLink/IpService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10789/IpService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PepuxService" />
  <xs:element name="GetActiveConfs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveConfsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PepuxService" minOccurs="0" name="GetActiveConfsResult" nillable="true" type="q1:ArrayOfobjects" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataLocal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PepuxService" minOccurs="0" name="GetDataLocalResult" nillable="true" type="q2:ArrayOfService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveParts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="confname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivePartsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PepuxService" minOccurs="0" name="GetActivePartsResult" nillable="true" type="q3:ArrayOfparticipantsAll" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>